<div class="chat-container">
  <div class="chat-header">
    <img src="https://ui-avatars.com/api/?name=Bot" class="avatar" alt="Bot Avatar" />
    <div class="header-info">
      <div class="chat-title">Chatbot</div>
      <div class="chat-status">online</div>
    </div>
  </div>
  <div class="chat-messages">
    <div *ngFor="let msg of messages" [ngClass]="msg.sender">
      <div class="bubble">
        {{ msg.text }}
        <span class="timestamp">{{ msg.timestamp | date:'shortTime' }}</span>
      </div>
    </div>
  </div>
  <div class="chat-input">
    <input [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Type a message..." />
    <button (click)="sendMessage()">
      <span class="material-icons">send</span>
    </button>
  </div>
</div>
