# Maven build outputs
**/target/

# Node build outputs and dependencies
**/node_modules/
**/dist/
**/cdk.out/

# Logs
*.log

# Local secrets — never commit this
.env

# Eclipse IDE
.classpath
.project
.settings/

# VS Code
.vscode/


# Large archives
*.zip
*.tar.gz

